@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<h1>Register</h1>

<form asp-controller="Home" asp-action="RegistrationForm">
    <div class="col-md-8 order-md-1">
        <h4 class="mb-3">Billing address</h4>
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="firstName">Firstname</label>
                <input name="Firstname" asp-for="Firstname" type="text" class="form-control" id="firstName" placeholder="" value="" required>
                <div class="invalid-feedback">
                    Valid first name is required.
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <label for="lastName">Lastname</label>
                <input name="Lastname" asp-for="Lastname" type="text" class="form-control" id="lastName" placeholder="" value="" required>
                <div class="invalid-feedback">
                    Valid lastname is required.
                </div>
            </div>
        </div>

        <div class="mb-3">
            <label for="username">Username</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">at</span>
                </div>
                <input name="Username" asp-for="Username" type="text" class="form-control" id="username" placeholder="Username" required>
                <div class="invalid-feedback" style="width: 100%;">
                    Your username is required.
                </div>
            </div>
        </div>

        <div class="mb-3">
            <label for="password">Password</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">at</span>
                </div>
                <input name="Password" asp-for="Password" type="text" class="form-control" id="password" placeholder="Password" required>
                <div class="invalid-feedback" style="width: 100%;">
                    Your password is required.
                </div>
            </div>
        </div>

        <div class="mb-3">
            <label for="email">Email <span class="text-muted">(Optional)</span></label>
            <input name="Email" asp-for="Email" type="email" class="form-control" id="email" placeholder="you@example.com">
            <div class="invalid-feedback">
                Please enter a valid email address for shipping updates.
            </div>
        </div>

        <div class="mb-3">
            <label for="email">Phone <span class="text-muted">(Optional)</span></label>
            <input name="Phone" asp-for="Phone" type="tel" class="form-control" id="Phone" placeholder="555-156-655">
            <div class="invalid-feedback">
                Please enter a valid phonenumber for shipping updates.
            </div>
        </div>

        <div class="mb-3">
            <label for="address">Address</label>
            <input name="Address" asp-for="Address" type="text" class="form-control" id="address" placeholder="1234 Main St" required>
            <div class="invalid-feedback">
                Please enter your shipping address.
            </div>
        </div>

        <div class="mb-3">
            <label for="city">City<span class="text-muted">(Optional)</span></label>
            <input name="Place" asp-for="Place" type="text" class="form-control" id="city" placeholder="City">
        </div>

        <div class="row">
            <div class="col-md-3 mb-3">
                <label for="zip">Zip</label>
                <input name="Zipcode" asp-for="Zipcode" type="text" class="form-control" id="zip" placeholder="" required>
                <div class="invalid-feedback">
                    Zip code required.
                </div>
            </div>
        </div>
        <hr class="mb-4">

        <h4 class="mb-3">Privileges</h4>
        <div class="my-3">
            <div class="custom-control">
                <input name="Admin" asp-for="Admin" id="admin" type="checkbox" class="custom-checkbox checkbox">
                <label for="credit">Admin privileges</label>
            </div>
        </div>
        <hr class="mb-4">
        <button class="btn btn-primary btn-lg btn-block" type="submit">Register</button>
    </div>
</form>