@model ReferenceViewModel
@{
    ViewData["Title"] = "AddReference";
}

<div class="container">
    <br />
    <div class="col-11 shadow" style="padding-bottom:20px;padding-top:20px;padding-left:3%;padding-right:3%;">
        <center><h1>Add new reference</h1></center><br />
        <div class="row">
            <div class="col-md-7">
                <div class="form-group">
                    <label for="CompanyName">Companyname</label>
                    <input type="text" class="form-control" name="Companyname" id="Companyname" placeholder="Enter the companyname">
                </div>
                <div class="form-group">
                    <label for="'KvK">KvK</label>
                    <input type="text" class="form-control" name="KvK" id="KvK" placeholder="Enter KvK">
                </div>
                <div class="form-group">
                    <label for="VAT">VAT</label>
                    <input type="text" class="form-control" name="VAT" id="VAT" placeholder="Enter VAT">
                </div>
                <div class="form-group">
                    <label for="IBAN">IBAN</label>
                    <input type="text" class="form-control" name="IBAN" id="IBAN" placeholder="Enter IBAN">
                </div>
                <div class="row">
                    <div class="col-auto">
                        <label>Bank</label>
                        <label class="sr-only" for="inlineFormInputGroup">Bank</label>
                        <div class="input-group mb-2">
                            <input type="text" class="form-control" name="Bank" id="Bank" placeholder="Bank">
                        </div>
                    </div>
                    <div class="col-auto">
                        <label>BIC</label>
                        <label class="sr-only" for="inlineFormInputGroup">BIC</label>
                        <div class="input-group mb-2">
                            <input type="text" class="form-control" name="BIC" id="BIC" placeholder="BIC">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="Note">Note</label>
                    <textarea type="text" class="form-control" name="Note" id="Note" placeholder="Enter notes here..."></textarea>
                </div>
            </div>
            <div class="col-md-5">
                <label>Contact information:</label>
                <div class="form-group">
                    <a for="Contactname">Contactname</a>
                    <input type="text" class="form-control form-control-sm" name="Contactname" id="Contactname" placeholder="Enter contactname">
                </div>
                <div class="form-group">
                    <a for="Address">Address</a>
                    <input type="text" class="form-control form-control-sm" name="Address" id="Address" placeholder="Enter address">
                </div>
                <div class="form-group">
                    <a for="Zipcode">Zipcode</a>
                    <input type="text" class="form-control form-control-sm" name="Zipcode" id="Zipcode" placeholder="Enter zipcode">
                </div>
                <div class="form-group">
                    <a for="Place">Place</a>
                    <input type="text" class="form-control form-control-sm" name="Place" id="Place" placeholder="Enter place">
                </div>
                <div class="form-group">
                    <a for="Country">Country</a>
                    <input type="text" class="form-control form-control-sm" name="Country" id="Country" placeholder="Enter country">
                </div>
                <div class="form-group">
                    <a for="Phonenumber">Phonenumber</a>
                    <input type="text" class="form-control form-control-sm" name="Phonenumber" id="Phonenumber" placeholder="Enter phonenumber">
                </div>
                <div class="form-group">
                    <a for="Email">Email</a>
                    <input type="text" class="form-control form-control-sm" name="Email" id="Email" placeholder="Enter email">
                </div>
                <div class="form-group">
                    <a for="Email">Doubtfull</a>
                    <input type="checkbox" class="form-control" name="Doubtfull" id="Doubtfull" placeholder="Doubtfull">
                </div>
            </div>
        </div><br />
        <div class="col-md-12 text-center">
            <button type="submit" onclick="SubmitItem()" class="btn btn-info btn-lg">Add item</button>
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
    function SubmitItem() {
        var Companyname = document.getElementById("Companyname").value;
        var KvK = document.getElementById("KvK").value;
        var IBAN = document.getElementById("IBAN").value;
        var VAT = document.getElementById("VAT").value;
        var BANK = document.getElementById("Bank").value;
        var BIC = document.getElementById("BIC").value;
        var Contactname = document.getElementById("Contactname").value;
        var Address = document.getElementById("Address").value;
        var Zipcode = document.getElementById("Zipcode").value;
        var Place = document.getElementById("Place").value;
        var Country = document.getElementById("Country").value;
        var Phone = document.getElementById("Phonenumber").value;
        var Email = document.getElementById("Email").value;
        var Note = document.getElementById("Note").value;
        var Doubtfull = document.getElementById("Doubtfull").checked;
        $.ajax({
            type: "Post",
            url: '/Reference/SubmitReference',
            data: {
                'Companyname': Companyname,
                'KvK': KvK,
                'IBAN': IBAN,
                'VAT': VAT,
                'BANK': BANK,
                'BIC': BIC,
                'Contactname': Contactname,
                'Address': Address,
                'Zipcode': Zipcode,
                'Place': Place,
                'Country': Country,
                'Phone': Phone,
                'Email': Email,
                'Note': Note,
                'Doubtfull': Doubtfull
            },
            success: function () {
                console.log("geslaagd!");
            }
        });
        location.reload();
    }
</script>